@model PPETracker.ViewModels.UpdateProductCommand

@{
    ViewData["Title"] = "Edit Product";
}

<h1 class="text-center">Edit Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-controller="Products" asp-action="Edit" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ID">
            <input type="hidden" asp-for="CategoryID">

            <div class="form-group">
                <label asp-for="Name" class="bold-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Brand" class="bold-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>

            @if (Model.PhotoLink != null)
            {
                <input id="PhotoLink" name="PhotoLink" type="hidden" value="@Model.PhotoLink" />
                <div id="currentPhoto" class="form-group">
                    <img src="@Url.Content(Model.PhotoLink)" id="currentImg" style="width: 100%; max-width: 300px;" />
                    <button type="button" class="btn btn-default" id="removePhoto">Remove</button>
                </div>
                <!--show if remove button is clicked-->
                <div id="selectNewPhoto" class="form-group" style="display: none">
                    <label class="bold-label">Photo (2MB limit)</label>
                    <input type="file" name="File" />
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="bold-label">Photo (2MB limit)</label>
                    <input type="file" name="File" />
                </div>
            }
            <span asp-validation-for="File" class="text-danger"></span>

            <div class="form-group">
                <label asp-for="Comments" class="bold-label"></label>
                <textarea asp-for="Comments" class="form-control"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>

            <!---<div class="form-group">
        <label asp-for="CategoryID" class="bold-label"></label><br />
        <select asp-for="CategoryID" asp-items="Model.CategoryOptions">
            <option value="" disabled selected>--Select category--</option>
        </select><br />
        <span asp-validation-for="CategoryID" class="text-danger"></span>
    </div>-->
            <div class="form-group">
                <label asp-for="CategoryName" class="bold-label"></label><br />
                @Model.CategoryName
            </div>
            

            <!--show the options for category type-->
            @if (Model.CategoryID == 1)
            {
                 <div id="canister-fields" style="display: block;">
                     <div class="form-group">
                         <label asp-for="CanisterType" class="bold-label"></label><br />
                         <select asp-for="CanisterType" asp-items="Model.CanisterTypeOptions">
                             <option value="" disabled selected>--Select canister type--</option>
                         </select>
                         <br />
                         <span asp-validation-for="CanisterType" class="text-danger"></span>
                     </div>

                     <div class="form-group">
                         <label asp-for="GasMaskAssociatedWith" class="bold-label"></label><br />
                         <select asp-for="GasMaskAssociatedWith" asp-items="Model.GasMaskAssociatedWithOptions">
                             <option value="" disabled selected>--Select gas mask--</option>
                         </select>
                         <br />
                         <span asp-validation-for="GasMaskAssociatedWith" class="text-danger"></span>
                     </div>

                     @if(Model.GasMaskAssociatedWith == "Other")
                     {
                         <div id='gas-mask-associated-enter'>
                           <div class="form-group">
                                <label asp-for="UserEnteredGasMaskAssociatedWith" class="bold-label"></label>
                                <input asp-for="UserEnteredGasMaskAssociatedWith" class="form-control" />
                                <span asp-validation-for="UserEnteredGasMaskAssociatedWith" class="text-danger" id="val-for-gas-mask-associated-enter"></span>
                           </div>
                        </div>
                     }
                     else
                     {
                         <div id='gas-mask-associated-enter' style='display: none;'>
                           <div class="form-group">
                                <label asp-for="UserEnteredGasMaskAssociatedWith" class="bold-label"></label>
                                <input asp-for="UserEnteredGasMaskAssociatedWith" class="form-control" />
                                <span asp-validation-for="UserEnteredGasMaskAssociatedWith" class="text-danger" id="val-for-gas-mask-associated-enter"></span>
                           </div>
                        </div>
                     }
                     
                 </div>
             }


            @if (Model.CategoryID == 2)
            {
                <div id="gas-mask-fields" style="display: block;">
                    <div class="form-group">
                        <label asp-for="GasMaskType" class="bold-label"></label><br />
                        <select asp-for="GasMaskType" asp-items="Model.GasMaskTypeOptions">
                            <option value="" disabled selected>--Select gas mask type--</option>
                        </select>
                        <br />
                        <span asp-validation-for="GasMaskType" class="text-danger"></span>
                    </div>
                </div>
            }

            @if (Model.CategoryID == 3)
            {
                <div id="glove-fields" style="display: block;">
                    <div class="form-group">
                        <label asp-for="GloveQuantity" class="bold-label"></label>
                        <input asp-for="GloveQuantity" class="form-control" />
                        <span asp-validation-for="GloveQuantity" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="GloveThickness" class="bold-label"></label>
                        <input asp-for="GloveThickness" class="form-control" />
                        <span asp-validation-for="GloveThickness" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="GloveSize" class="bold-label"></label><br />
                        <!---<input asp-for="MaskType" class="form-control" />-->
                        <select asp-for="GloveSize" asp-items="Model.GloveSizeOptions">
                            <option value="" disabled selected>--Select glove size--</option>
                        </select>
                        <br />
                        <span asp-validation-for="GloveSize" class="text-danger"></span>
                    </div>
                </div>
                @if (Model.GloveSize == "Other")
                {
                    <div id='glove-enter-size' style='display: block;'>
                        <div class="form-group">
                            <label asp-for="UserEnteredGloveSize" class="bold-label"></label>
                            <input asp-for="UserEnteredGloveSize" class="form-control" />
                            <span asp-validation-for="UserEnteredGloveSize" class="text-danger" id="val-for-glove-size-enter"></span>
                        </div>
                    </div>
                }
                else
                {
                    <div id='glove-enter-size' style='display: none;'>
                        <div class="form-group">
                            <label asp-for="UserEnteredGloveSize" class="bold-label"></label>
                            <input asp-for="UserEnteredGloveSize" class="form-control" />
                            <span asp-validation-for="UserEnteredGloveSize" class="text-danger" id="val-for-glove-size-enter"></span>
                        </div>
                    </div>
                }
            }
            
            @if (Model.CategoryID == 4)
            {
                <div id="sanitizer-fields" style="display: block;">
                    <div class="form-group">
                        <label asp-for="SanitizerType" class="bold-label"></label><br />
                        <select asp-for="SanitizerType" asp-items="Model.SanitizerTypeOptions">
                            <option value="" disabled selected>--Select sanitizer type--</option>
                        </select>
                        <br />
                        <span asp-validation-for="SanitizerType" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NumOunces" class="bold-label"></label>
                        <input asp-for="NumOunces" class="form-control" />
                        <span asp-validation-for="NumOunces" class="text-danger"></span>
                    </div>
                </div>
            }

            @if (Model.CategoryID == 5)
            {
                <div id="mask-fields" style="display: block;">
                    <div class="form-group">
                        <label asp-for="MaskType" class="bold-label"></label><br />
                        <!---<input asp-for="MaskType" class="form-control" />-->
                        <select asp-for="MaskType" asp-items="Model.MaskTypeOptions">
                            <option value="" disabled selected>--Select mask type--</option>
                        </select>
                        <br />
                        <span asp-validation-for="MaskType" class="text-danger"></span>
                    </div>
                </div>
                @if (Model.MaskType == "Other")
                {
                    <div id='mask-enter-type' style='display: block;'>
                        <div class="form-group">
                            <label asp-for="UserEnteredMaskType" class="bold-label"></label>
                            <input asp-for="UserEnteredMaskType" class="form-control" />
                            <span asp-validation-for="UserEnteredMaskType" class="text-danger" id="val-for-mask-type-enter"></span>
                        </div>
                    </div>
                }
                else
                {
                    <div id='mask-enter-type' style='display: none;'>
                        <div class="form-group">
                            <label asp-for="UserEnteredMaskType" class="bold-label"></label>
                            <input asp-for="UserEnteredMaskType" class="form-control" />
                            <span asp-validation-for="UserEnteredMaskType" class="text-danger" id="val-for-mask-type-enter"></span>
                        </div>
                    </div>
                }
            }

            @if (Model.CategoryID == 6)
            {
                <div id="wipe-fields" style="display: block;">
                    <div class="form-group">
                        <label asp-for="WipeQuantity" class="bold-label"></label>
                        <input asp-for="WipeQuantity" class="form-control" />
                        <span asp-validation-for="WipeQuantity" class="text-danger"></span>
                    </div>
                </div>
            }

            @if (Model.CategoryID == 7)
            {
                <div id="goggle-fields" style="display: block;">
                    <div class="form-group">
                        <label asp-for="GogglesType" class="bold-label"></label><br />
                        <select asp-for="GogglesType" asp-items="Model.GoggleTypeOptions">
                            <option value="" disabled selected>--Select goggles type--</option>
                        </select>
                        <br />
                        <span asp-validation-for="GogglesType" class="text-danger"></span>
                    </div>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Dashboard" asp-controller="Products">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var catID = parseInt("@Model.CategoryID");

            if (catID == 1) {
                document.getElementById("GasMaskAssociatedWith").addEventListener("change", function () {
                    var elem = document.getElementById("GasMaskAssociatedWith");
                    var option = elem.value;
                    if (option == "Other") {
                        var gasMaskAssociatedEnterField = document.getElementById("gas-mask-associated-enter");
                        gasMaskAssociatedEnterField.style.display = "block";
                    }
                    //if another option is selected, clear any text entered and hide the text box
                    else {
                        var gasMaskAssociatedEnterField = document.getElementById("gas-mask-associated-enter");
                        var gasMaskAssociatedWithInputTextBox = document.getElementById("UserEnteredGasMaskAssociatedWith");
                        gasMaskAssociatedWithInputTextBox.value = "";
                        gasMaskAssociatedEnterField.style.display = "none";
                    }

                    //if validation message is showing, hide it since user has now selected a value
                    var gasMaskAssociatedValEntry = document.getElementById("val-for-gas-mask-associated-enter");
                    gasMaskAssociatedValEntry.style.display = "none";
                });
            }

            if (catID == 3) {
                document.getElementById("GloveSize").addEventListener("change", function () {
                    var elem = document.getElementById("GloveSize");
                    var option = elem.value;
                    if (option == "Other") {
                        var gloveEnterField = document.getElementById("glove-enter-size");
                        gloveEnterField.style.display = "block";
                    }
                    //if another option is selected, clear any text entered and hide the text box
                    else {
                        var gloveEnterField = document.getElementById("glove-enter-size");
                        var gloveInputTextBox = document.getElementById("UserEnteredGloveSize");
                        gloveInputTextBox.value = "";
                        gloveEnterField.style.display = "none";
                    }

                    //if validation message is showing, hide it since user has now selected a value
                    var gloveTypeEntry = document.getElementById("val-for-glove-size-enter");
                    gloveTypeEntry.style.display = "none";
                });
            }

            if (catID == 5) {
                document.getElementById("MaskType").addEventListener("change", function () {
                    var elem = document.getElementById("MaskType");
                    var option = elem.value;
                    if (option == "Other") {
                        var maskFields = document.getElementById("mask-enter-type");
                        maskFields.style.display = "block";
                    }
                    //if another option is selected, clear any text entered and hide the text box
                    else {
                        var maskFields = document.getElementById("mask-enter-type");
                        var maskInputTextBox = document.getElementById("UserEnteredMaskType");
                        maskInputTextBox.value = "";
                        maskFields.style.display = "none";
                    }

                    //if validation message is showing, hide it since user has now selected a value
                    var maskTypeEntry = document.getElementById("val-for-mask-type-enter");
                    maskTypeEntry.style.display = "none";
                });
            }

            $('#removePhoto').click(function () {
                $('#selectNewPhoto').toggle(this.click);
                $('#currentPhoto').hide(this.click);
                $('#PhotoLink').val("");
                $('#currentImg').attr('src', '');
            });
        });


        /*document.getElementById("CategoryID").addEventListener("change", showFields);

        function showFields() {
            var elem = document.getElementById("CategoryID");
            var catID = parseInt(elem.value);
            if (catID == 1) {
                var canisterFields = document.getElementById("canister-fields");
                hideFieldsOtherThanSelected("canister-fields");
                canisterFields.style.display = "block";
            }
            if (catID == 2) {
                var gasMaskFields = document.getElementById("gas-mask-fields");
                hideFieldsOtherThanSelected("gas-mask-fields");
                gasMaskFields.style.display = "block";
            }
            if (catID == 3) {
                var gloveFields = document.getElementById("glove-fields");
                hideFieldsOtherThanSelected("glove-fields");
                gloveFields.style.display = "block";
            }
            if (catID == 4) {
                var sanitizerFields = document.getElementById("sanitizer-fields");
                hideFieldsOtherThanSelected("sanitizer-fields");
                sanitizerFields.style.display = "block";
            }
            if(catID == 5) {
                var maskFields = document.getElementById("mask-fields");
                hideFieldsOtherThanSelected("mask-fields");
                maskFields.style.display = "block";
            }
            if (catID == 6) {
                var wipeFields = document.getElementById("wipe-fields");
                hideFieldsOtherThanSelected("wipe-fields");
                wipeFields.style.display = "block";
            }
            if (catID == 7) {
                var goggleFields = document.getElementById("goggle-fields");
                hideFieldsOtherThanSelected("goggle-fields");
                goggleFields.style.display = "block";
            }
            if (catID == 8) {
                //no category-specific fields for face shield
                hideFieldsOtherThanSelected("N/A");
            }
        }

        function hideFieldsOtherThanSelected(IdNameForSelected) {
            var categoryBlocks = ["canister-fields", "gas-mask-fields", "glove-fields", "sanitizer-fields", "mask-fields", "wipe-fields", "goggle-fields"];
            //hide the fields other than the selected ones
            const index = categoryBlocks.indexOf(IdNameForSelected);
            if (index > -1) {
                categoryBlocks.splice(index, 1);
            }
            for (var i = 0; i < categoryBlocks.length; i++) {
                //hide each DOM element that is identified by the name in the array
                var idDiv = document.getElementById(categoryBlocks[i]);
                idDiv.style.display = "none";
            }
        }*/
        
</script>
}
