@{
    ViewData["Title"] = "About";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6 offset-3">
        <p>Personal Protective Equipment (PPE) Tracker is a project by Annette Arrigucci to maintain inventory for a small stockpile of PPE for use by family, friends and acquaintances.</p>
    </div>
</div>
